/* *{font-size: 25px;} */
.about{
    background-color: rgb(255, 255, 255);
    /* border: 1px solid #08315a; */
}
.about-heading{
    text-align: center;
    margin-top: 60px;
    color: rgb(255, 255, 255);
    background-color: #08315a;
    padding: 15px;
}
.about-allinfo{
    display: flex;
    flex-wrap: wrap;
}
.about-allinfo .about-para,.about-allinfo .mdinfo{
    /* border: 2px solid black; */
}
.about-allinfo .about-para{
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-align: justify;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.balloonbold{
    font-weight: bold;
}
.about-allinfo .mdinfo{
    text-align: center;
    padding: 40px;
    flex: 1;
    font-size: 25px;
    font-weight: bolder;
    font-family: serif;
    color: rgb(49, 85, 147);
    /* border: 2px solid black; */
}

.about-allinfo .mdinfo .name{
    color: rgb(126, 100, 66);
}
.about-allinfo .mdinfo  img{
    
    height: 350px;
    border-radius: 50%; 
    margin-bottom: 100px;
}
.about-allinfo .mdinfo .social{
    display: flex;
    justify-content: center;
    margin-top: -80px;
}
.about-allinfo .mdinfo .social a{
    color: rgb(14, 114, 156);
}
/* .mdinfo .name{
   margin-bottom: 0px; 
} */