.admin{
    
    background-color: rgba(184, 213, 247, 0.986);
}
.admin .admin-name-buttons{
    /* border:2px solid red; */
    padding: 20px;
}
.admin .admin-name-buttons h2{
    color:brown;
    font-size: 30px;
}
.admin .admin-name-buttons .btn{
    background-color: #ffdb39;
    color:black;
    border-radius: 0px;
    border:2px solid yellow;
}
.admin .admin-name-buttons .btn:hover{
    transform: scale(1.05);
}


.admin-login{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    height:700px;
    justify-content: center;
    align-items: center;
    background:url("../assets/giphy.gif"),rgb(55, 161, 41);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  0;
    /* background-color: rgb(19, 64, 64); */
}
.admin-login input{
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
}
.admin-login input[type="submit"]{
    background-color: rgb(39, 111, 166);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    width:200px;
}