.contact-div{
    /* border: 2px solid red; */
    /* background-color: rgb(225, 225, 218); */
    padding-bottom: 50px;
    margin-top: 80px;
    /* padding-left:50px;
    padding-right:50px; */
}
.non-map{
    /* border: 2px solid grey; */
    margin-top: 50px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* padding: 20px; */
    margin-bottom: 30px;
}
.non-map .single-element{
    /* border: 2px solid rgb(234, 157, 2); */
    /* flex: 1; */
    width: 25%;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 20px;
    background-color: #dde7e8;

}.non-map .single-element .logo{
    font-size: 30px;
    color: rgb(25, 62, 62);
}
.non-map .single-element .head{
    margin-top: 30px;
    font-size: 30px;
    color: #0b0a0a;

}
.map{
    /* border: 2px solid grey; */
    /* padding: ; */
    display: flex;
}
.map div{
    border: 20px solid rgb(243, 237, 237);
    width: 80%;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}





@media screen and (max-width: 768px) {
  .contact-div{
    margin-top: -100px;
  }
  .non-map .single-element {
    width: 100%;
    margin: 10px 0;
  }

  .non-map {
    justify-content: center;
  }

  .map {
    flex-direction: column;
    align-items: center;
  }

  .map div {
    width: 100%;
    border-width: 10px;
  }
}
