.dropdown .dropdown-toggle {
    text-decoration: none;
    color: black;
}
.navbar-brand{
  background-color: rgb(252, 252, 252);
  padding: 10px;
  border-radius: 10px;

}
.navbar-brand img{
    margin: 0 40px ;
    box-shadow: 0px 6px 3px 0px rgb(0, 61, 48);
    transition: ease 0.5s ;
}
.navbar-brand img:hover{
    margin: 0 40px ;
    box-shadow: 0px 6px 3px 0px rgb(0, 61, 48);
    transform: scale(1.05);
}
/* category */
.header2-nav .dropdown-toggle, .header2-nav .nav-link{
    font-size:15px ;
    font-family: sans-serif;
}
.header2-nav  .dropdown-item li{
    /* background: transparent; */
    border-bottom: 2px solid black;
    text-align: center;

}
nav{
  background-color: #ffffff;
  box-shadow:0 3px 10px rgb(111, 110, 110);
  /* position: fixed; */
  /* font-family: 'Times New Roman', Times, serif; */
}
.header2-nav{
  /* background-color: rgb(194, 195, 165); */
  border-radius: 20px;
  color: white;
  font-weight:500;
}


/* category elements */
.dropdown-menu li{
    font-size: 16px;
    background-color: rgb(111, 111, 164);
    font-weight: bold;
    /* border: 2px solid red; */
}

.dropdown-menu{
  background-color: #ffffff;
}

  /* Optional: Change dropdown item text color */
  .dropdown-item {
    color: #f8f8f8; /* Black text */
    font-weight: bold;
  }
  
  /* Optional: Change hover background and text color */
  .dropdown-item:hover {
    background-color: #e59e9e;
    /* color: #3aff3e; */
  }

  
