.category{
    /* border:2px solid red; */
    /* background-color: rgba(252, 229, 249, 0.818); */
    margin-top: 20px;
    border-radius: 90px 0 ; ;
}
.category-items{
    /* border:3px solid greenyellow; */
    display: flex;
    /* grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto; */
    flex-wrap:wrap;
    justify-content: space-evenly;
    position: relative;


}
.category-items .item{
    /* border:3px solid grey; */
    margin: 30px;
    
    /* border-radius: 30px; */
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    width:300px;
    height:200px;
    transition: ease 0.5s;
    border:1px solid rgb(218, 218, 218);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.category-items .item:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 3px 2px rgb(180, 170, 170);
}
.category-items .item h2{
    color:rgb(255, 255, 255);
    background-color: #6c015d;
    width:100%;
    padding: 5px;
    font-size: 20px;
    font-family: "roboto";
}
.category-items .item img{
    height: 80%;
    
}
.category .item-para{
    /* position: absolute;
    z-index: 100; */
    padding: 1px;
    overflow: hidden;
    /* top: 50%;
    left: 50%;
    transform:translate(-50%,-50%); */
    /* border:2px solid red; */
    width:100%;
    height:80px;
    /* border-radius: 50%; */
    background: url("../assets/giphy.gif");
    background-position: center;
    /* outline: 10px solid white; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: roboto;
    color:rgb(254, 254, 254);
    text-shadow: 2px 2px 2px black;
   
    /* font-size: 50px; */
    /* border-radius: 90px 0 ; */
    margin:  0 auto;
    grid-column:1/4;
    /* grid-row: 2; */
}
.category-items .item-para h2{
  font-size: 40px;
  word-wrap: break-word;
}


@media screen and (max-width: 768px) {
  .category-items .item {
    width: 30%;
    margin: 10px auto;
    justify-content: space-evenly;
    align-items: center;
  }

  .category-items {
    justify-content: center;
    align-items: center;
  }

  .category-items .item-para {
    font-size: 50px;
    /* border-radius: 10px; */
    height: auto;
    padding: 10px;
    margin-top: 20px;
  }

  .category-items .item-para h2 {
    font-size: 28px;
    text-align: center;
  }
}
