:root {
  --gallery-header-bg: #610901;
  --gallery-header-border: rgb(226, 218, 225);
  --gallery-header-text: whitesmoke;
  --gallery-header-shadow: rgb(133, 131, 125);
  
  --video-border: rgb(233, 233, 233);
  --video-shadow: rgba(0, 0, 0, 0.2);
  --video-bg: rgb(152, 151, 151);
}

.gallery h1 {
  text-align: center;
  font-family: sans-serif;
  /* background-color: rgb(226, 223, 223); */
  /* border-bottom: 5px solid var(--gallery-header-border); */
   /* box-shadow: 0 2px 10px grey; */
  /* border-radius: 20px; */
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 35px;
  padding: 15px;
  margin-bottom: -20px;
  margin-top: 20px;
  color:  rgb(57, 32, 32);
  text-shadow: 0 2px 10px var(--gallery-header-shadow);
  z-index: 10;
}

.gallery .video {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 20px;
  padding: 20px;
  margin-top: 20px;

  border-radius: 20px;
  scroll-behavior: smooth;

  /* Hide scrollbars cross-browser */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.gallery .video::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.gallery .video iframe {
  flex: 0 0 auto;
  width: 300px;
  height: 200px;
  border: 2px solid var(--video-border);
  box-shadow: 0 6px 10px var(--video-shadow);
  transition: transform 0.3s ease;
  background-color: var(--video-bg);
  border-radius: 10px;
}

.gallery .video iframe:hover {
  transform: scale(1.05);
}

@media (max-width: 900px) {
  .gallery h1 {
    font-size: 20px;
  }
}