.reviews h1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    padding: 10px;
    font-family:roboto;
    z-index: 100;
    /* border-radius: 10px; */
    margin-top: 20px;
    color: teal;
    font-size: 35px;
    text-transform: capitalize;
}
.reviews h1::before,
.reviews h1::after{
    content: '';
    flex: 1;
    height: 3px;
    background-color:rgb(175, 55, 175);
    margin: 0 10px;
} 

.reviews .carousel-inner{
    /* border: 2px solid blue; */
    height: 300px;
    width: 100%;
    background-color: #dab1e4;
 
   
}
.reviews .carousel-inner .carousel-item{
    /* border: 2px solid green; */
    /* background-color: #211818; */
    text-align: center;
    /* top: 50px; */
    padding: 40px;

   
   
    
}
.reviews .carousel-inner .carousel-item .name{
    /* border: 2px solid yellow; */
    color: rgb(11, 11, 55);
    font-size: 22px;
    font-weight: bold;

    /* color: green; */


}
.reviews .carousel-item .rating{
    /* border: 2px solid violet; */
    color: goldenrod;
     font-size: 18px;
     margin: 20px ;


}
.reviews .carousel-item .text{
    /* border: 2px solid grey; */
    color: black;
    font-style: italic;
    font-size: 20px;

}
@media(max-width:900px){
    .reviews h1{
        font-size: 20px;
    }
    .reviews .carousel-inner .carousel-item .name{
        font-size: 16px;
    }
    .reviews .carousel-item .rating{
        font-size: 14px;
    }
    .reviews .carousel-item .text{
        font-size: 14px;
    }
    .reviews .carousel-inner{
        height: 200px;
    }
    .reviews .carousel-inner .carousel-item{
        padding: 20px;

    }



}