.whytochooseus{
    /* border:2px solid red; */
    background-color: #fff;
    margin-top: 80px;
}
.whytochooseus h1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    padding: 10px;
    font-family:roboto;
    z-index: 100;
    /* border-radius: 10px; */
    margin-top: 20px;
    color: teal;
    font-size: 35px;
    text-transform: capitalize;
    /* text-decoration: underline; */

}
.whytochooseus h1::before,
.whytochooseus h1::after{
 content: '';
  flex: 1;
  height: 3px;
  background-color:rgb(175, 55, 175);
  margin: 0 10px;
}

.whytochooseus-options{
    /* border:3px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* margin-top: -10px; */
    padding: 40px 0;
   background-color:rgb(255, 255, 255);
    z-index: -10;
}
.whytochooseus-options .option{
    /* border:3px solid rgb(212, 111, 22); */
    text-align: center;
    font-size: 50px;
    background-color: rgb(255, 255, 255);
    color:rgb(255, 255, 255);
    border-radius: 10px;
    width: 150px;
    height: 150px;
    /* padding: 20px; */
    /* padding-top: 20px; */
    box-shadow: 0 5px 5px rgb(39, 2, 41);
    transition: ease 0.5s;
    margin: 10px; 
}
.whytochooseus-options .option:hover{
    transform: scale(1.05);
}
.whytochooseus-options .option .icons{
    color:grey;
}
.whytochooseus-options .option p{
    font-weight: BOLD;
    font-size: 16px;
    font-family: poppins;
    color:rgb(142, 133, 138);
}

@media screen and (max-width: 800px) {
    .whytochooseus{
    margin-top: 40px;
}
    .whytochooseus-options {
        /* flex-direction: column; */
        align-items: center;
    }

    .whytochooseus-options .option {
        width: 22vw;
        height: 18vw;
        font-size: 18px;
        /* border-radius: 50%; */
        /* padding-top: 40px; */
    }
    .whytochooseus-options .option p{
        font-size: 10px;

    }
}

@media (max-width: 900px) {
  .whytochooseus{
    margin-top: 40px;
}
  .whytochooseus h1 {
    font-size: 20px;
  }
}